.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container>* {
    width: 100%;
  }
  
  .invalido {
    color: red;
  }
  
  .paciente-form {
    margin-top: 20px;
    width: 100%;
    display: flex;
  }

  .w-100 {
    width: 100%;
  }

  .w-100>* {
    width: 100%;
  }

  .w-90 {
    width: 90%;
  }

  .w-90>* {
    width: 100%;
  }

  .w-10 {
    width: 10%;
  }
