<!-- No olvidar agregar ReactiveFormsModule en App.module.ts, util para trabajar con formularios-->
<form class="example-container" [formGroup]="form" #frmSigno="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <div class="paciente-form">
        <div [ngClass]="edicion ? 'w-100' : 'w-90'">
            <mat-form-field>
                <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente"
                    [formControl]="myControlPaciente" formControlName="paciente" [readonly]="edicion">

                <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente" >
                    <mat-option *ngFor="let p of pacientesFiltrados$ | async" [value]="p">
                        {{ p.nombres }} {{p.apellidos}}
                    </mat-option>
                </mat-autocomplete>

            </mat-form-field>
        </div>

        <div class="w-10" [hidden]="edicion">
            <button mat-raised-button color="primary" type="button" (click)="abrirDialogoNuevoPaciente()">
                <mat-icon>done</mat-icon>
                <span>Nuevo paciente</span>
            </button>
        </div>
    </div>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha" formControlName="fecha"
            [(ngModel)]="fechaSeleccionada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Temperatura" required formControlName="temperatura" type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Pulso" required formControlName="pulso" type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Ritmo respiratorio" required formControlName="ritmoRespiratorio" type="number">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmSigno.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/pages/signo' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>